
@media (max-width: 1600px ) {
.layout {
    min-width: 1200px;
}

.layout__menu {
    padding: 5rem 6rem;
}

.services__service {
        padding: 7rem 5rem;
    }
}

@media( max-width: 1500px ) {
    .projects__project {
        flex-basis: 40%;
        margin: 0 auto;
    }
}

@media( min-width: 1199px) and ( max-width: 1400px ) {
    .services__grid,
    .projects__grid,
    .reviews__grid,
    .news__container,
    .contact__container,
    .footer__container {
        max-width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .projects__all {
        gap: 3rem;
    }
}

@media(max-width: 1200px) {
    .layout {
        min-width: 992px;
    }

    .nav__item {
        margin: 0 2rem;
    }

    .reviews__grid,
    .news__container,
    .clients__container,
    .footer__container {
        max-width: 96rem;
    }

    .services__service {
        padding: 4rem 1.5rem;
    }

    .service__container-img {
        max-width: 6rem;
    }

    .projects__all {
        gap: 3rem;
    }

    .layout__stats {
        padding: 10rem 8rem;
    }

    .clients__header {
        width: 50%;
    }

    .news__list {
        flex-direction: column;
    }

    .fleft__container {
        margin-right: 2rem;
    }
}

@media(max-width: 1000px) {
    .layout {
        min-width: auto;
    }

    .navbar__nav {
        display: none;
    }

    .layout__banner {
        min-height: 100%;
        margin: 0 3rem;
    }

    .banner__title {
        font-size: 5rem;
    }

    .banner__btn {
        padding: 2rem 3.5rem;
    }

    .banner__content {
        width: 65%;
    }

    .reviews__grid,
    .news__container,
    .clients__container,
    .footer__container {
        max-width: 72rem;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle {
        font-size: 1.8rem;
    }

    .services__title,
    .projects__title,
    .reviews__title,
    .stats__title,
    .clients__title,
    .contact__title,
    .fleft__title,
    .news__title {
        font-size: 4rem;
    }

    .services__list {
        flex-direction: column;
    }
    
    .services__service  {
        width: 100%;
    }

    .services__service--middle {
        margin-top: 0rem;
    }

    .services-shapes--shape3 {
        top: 47%;
        left: 0;
        z-index: -2;
    }

    .services-shapes--shape2 {
      display: none;
    }

    .services__service--bottom {
        margin-top: 10rem;
    } 

}